@model IEnumerable<AssetMgmt.ViewModels.AssetNameGroup>

@{
    ViewBag.Title = "Asset Statistics";
}

<h2>Asset Statistics</h2>

<p>This section keeps a count on the number of assets each employee possess.</p>

<table class="table">
    <tr>
        <th>
            Employee Name
        </th>
        
        <th>
            Number of Assets
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            
            <td>
                @item.AssetCount
            </td>
        </tr>
    }
</table>