@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Asset Management</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to 10XDS</h2>
        <p>
            This is an application to map the physical assets of employees of 10xDS with respect to their names.
        </p>
    </div>
</div>